# Recent versions of conky (>= 1.19.2-1) exit with a SIGABRT instead of
# exiting cleanly; force these tests to pass and rely on stderr output
# instead to see if conky actually ran. I know, gross. :(
# Possibly related to https://github.com/brndnmtthws/conky/issues/1538

Test-Command: xvfb-run conky -c /usr/share/doc/conky-std/conky.conf -i 10 || true
Depends: conky-std, xauth, xvfb
Restrictions: allow-stderr

Test-Command: xvfb-run conky -c /usr/share/doc/conky-all/conky.conf -i 10 || true
Depends: conky-all, xauth, xvfb
Restrictions: allow-stderr
